.foto-grid {
  width: 100%;
  padding: 0 48px;
  box-sizing: border-box;
  margin: 92px auto 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}
@media (max-width: 1279px) {
    .foto-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
}
@media (max-width: 1023px) {
    .foto-grid {
        margin: 88px auto 88px;
        padding: 0 24px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
      }
}
@media (max-width: 767px) {
    .foto-grid {
        margin: 64px auto 64px;
        padding: 0 16px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 1fr);
        gap: 12px;
      }
}