.place__website-url-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #aaaaaa;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  .place__website-url-text {
      margin: 0 0 12px 0;
    }
}