.place {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(
      min-content,
      max-content
    );
  grid-template-rows: auto auto;
  gap: 48px 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__text";
}
@media (max-width: 1279px) {
    .place {
        grid-template-columns: minmax(min-content, 440px) minmax(
            min-content,
            max-content
          );
        gap: 48px 32px;
      }
}
@media (max-width: 1023px) {
    .place {
        margin-bottom: 73px;
        grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
        gap: 48px 28px;
      }
}
@media (max-width: 1023px) {
    .place:first-child > .place__title {
        width: 97%;
      }
}
@media (max-width: 767px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 32px;
        grid-template-areas:
          "place__title"
          "place__website"
          "place__image"
          "place__text";
      }
}