.place {
  width: 100%;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: minmax(min-content, 460px) minmax(
      min-content,
      max-content
    );
  grid-template-rows: auto auto;
  gap: 48px 40px;
  grid-template-areas:
    "place__title place__website"
    "place__image place__text";
}

@media (max-width: 1279px) {
  .place {
    grid-template-columns: minmax(min-content, 440px) minmax(
        min-content,
        max-content
      );
    gap: 48px 32px;
  }

  .place:first-child {
    margin-bottom: 55px;
  }
}

@media (max-width: 1023px) {
  .place {
    margin-bottom: 73px;
    grid-template-columns: minmax(min-content, 340px) minmax(min-content, 352px);
    gap: 46px 28px;
  }

  .place:first-child {
    margin-bottom: 45px;
  }

  .place:nth-child(3) {
    margin-bottom: 70px;
  }

  .place:nth-child(4) {
    margin-bottom: 46px;
  }

  .place:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .place {
    margin-bottom: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 32px;
    grid-template-areas:
      "place__title"
      "place__website"
      "place__image"
      "place__text";
  }
  
  .place:last-child {
    margin: 0;
  }
}
