.place__website {
  grid-area: place__website;
  align-self: end;
}

@media (max-width: 1023px) {
  .place__website {
      padding-bottom: 2px;
      box-sizing: border-box;
    }
}


@media (max-width: 767px) {
    .place__website {
        padding: 0 16px;
      }
}