.intro__title {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

@media (max-width: 767px) {
  .intro__title {
    padding-right: 60px;
    box-sizing: border-box;
    font-size: 32px;
    line-height: 35px;
  }
}
